<div class="inline">
    <div class="base top-menu" style="font-size: 300%; width: 55%;margin-top: 27px;">
      <p>Central de Ajuda MyPetSitter</p>
    </div>
  </div>
  <hr>
  
  <div class="middle">
    <div class="base lateral-menu" style="height: 90vh;">
      <div style="margin-left: 20px;">
        <span>
            <a mat-button href="comofunciona">Como Funciona</a><br>
            <a mat-button href="queroserpetsitter">Quero ser Pet Sitter</a><br>
            <a mat-button href="comocriarumaconta">Como Criar uma Conta</a><br>
            <a mat-button href="sobrenos">Sobre Nós</a><br><br>
        </span>
      </div>
    </div>
    <div class="base conteudo-pagina" style="float: right;"> 
      <div>
        <div style="margin-top: 10px;font-size: 300%;text-align: center; width: 100%;">
          <p>Como Criar Uma Conta</p>
        </div>
        <div align="left" width="100px">
          <a routerLink="" routerLinkActive="active">
            <img src="/assets/images/logoSemEscrita.png" class="avatar" alt="Avatar">
          </a>
        </div>
      </div>
      <span class="reduct">
          Deseja Criar uma conta para você ofertar ou demandar nossos serviços?
        É bem simples, porquê não começar por <a href="criarconta">aqui</a>, criando
        sua conta<br>  
      </span>
    </div>   
  </div>
  
  