<div class="login-form">
    <h2>Recupere as credenciais de sua conta</h2>
    <form>
        <div class="text-center">
            <a routerLink="" routerLinkActive="active">
                <img src="/assets/images/logoSemEscrita.png" class="img-circle avatar" alt="Avatar">
            </a>
        </div>        
        <div class="form-group">
            <mat-form-field appearance="outline" class="form2">
                <mat-label>Email</mat-label>
                <input name="userName" matInput placeholder="Ex. nome@gmail.com">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
                <mat-label>Usuario</mat-label>
                <input name="senha"  matInput placeholder="Ex. Gaylherme">
              </mat-form-field>
        </div>
        <div class="form-group2">
            <button mat-raised-button color="accent" class="btn">Recuperar Senha</button>
        </div>     
    </form>    
</div>
<br><br><br>