.base {
    border-radius: 2px;
}
.top {
    width: 95%;
}
.top-menu {
    /*background-color: #0e0d0de0;*/
    height: 50px;
    margin: 9px;
    display: inline-block;
}
.middle {
    width: 100%;
}
.avatar {
    width: 90px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.bottom {
    width: 100%;
    height: 150px;
    background: #f7f7f7;
    display: inline-block;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.conteudo-pagina {
    text-align: center;
    width: 79%;
    display: inline-block;
    height: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.lateral-menu {
    text-align: left;
    width: 20%;
    display: inline-block;
    background: #f7f7f7;
}

a:link {
    text-decoration: none;
    color: #ff0059;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #ff0059;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .example-full-width {
    width: 100%;
  }

.inline {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 100%;
}