<div class="inline">
  <div class="base top-menu" style="font-size: 300%; width: 55%;margin-top: 27px;">
    <p>Central de Ajuda MyPetSitter</p>
  </div>
</div>
<hr>

<div class="middle">
  <div class="base lateral-menu" style="height: 90vh;">
    <div style="margin-left: 20px;">
      <span>
          <a mat-button href="comofunciona">Como Funciona</a><br>
          <a mat-button href="queroserpetsitter">Quero ser Pet Sitter</a><br>
          <a mat-button href="comocriarumaconta">Como Criar uma Conta</a><br>
          <a mat-button href="sobrenos">Sobre Nós</a><br><br>
      </span>
    </div>
  </div>
  <div class="base conteudo-pagina" style="float: right;"> 
    <div>
      <div style="margin-top: 10px;font-size: 300%;text-align: center; width: 100%;">
        <p>Como Funciona <i>PetSitting</i></p>
      </div>
      <div align="left" width="100px">
        <a routerLink="" routerLinkActive="active">
          <img src="/assets/images/logoSemEscrita.png" class="avatar" alt="Avatar">
        </a>
      </div>
    </div>
    <span style="text-align: justify;">
        No Brasil existe um grande problema em automatização de processos em relação 
      a cuidados com animais (Grand View Research, 2020), na maioria das vezes é 
      feita de forma manual. Assim, buscamos desenvolver um projeto que tem como 
      alvo atingir um grande número de pessoas que possuem pets e necessitam de 
      um serviço de qualidade e segurança, juntamente com aqueles que se propõe 
      a prestar o referido serviço. O intuito é disponibilizar uma plataforma 
      para que essas pessoas em um único lugar, possam se comunicar e assim seja 
      ofertado um serviço por parte do PetSitter atendendo as necessidades do 
      dono do pet. Esse serviço é muito utilizado em vários países, e assim está 
      caminhando a ser comum no Brasil, sendo possível, buscar uma grande proporção 
      no mercado com a implementação e o acesso a idéia.<br>  
    </span>
  </div>   
</div>

