<div class="login-form">
    <h2>Administrador</h2>
    <form>
        <div class="text-center">
            <a routerLink="" routerLinkActive="active">
                <img src="/assets/images/logoSemEscrita.png" class="img-circle avatar" alt="Avatar">
            </a>
        </div>        
        <div class="form-group">
            <mat-form-field appearance="outline" class="form2">
                <mat-label>Usuario</mat-label>
                <input [(ngModel)]="adm.userName" name="userName" matInput placeholder="Ex. Username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
                <mat-label>Senha</mat-label>
                <input [(ngModel)]="adm.senha" name="senha"  matInput placeholder="Ex. 12345678">
              </mat-form-field>
        </div>
        <div class="form-group2">
            <button (click)="entrar()" mat-raised-button color="accent" class="btn">Entrar</button>
        </div>
        <div style="padding: 15px 0px 0px 0px;">
            <span style="margin-right: 30px;"><mat-checkbox >Lembrar-me</mat-checkbox></span>
        <a routerLink="/recuperarconta" routerLinkActive="active">Esqueceu sua senha?</a></div>       
    </form>
    <p align="center"><a routerLink="/criarconta">Crie já sua conta!</a></p>     
</div>
<br><br><br>