<form>
    <h1>INCLUIR NOVO SERVIÇO</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="servico.nome" matInput  type="text" name="nome">
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Descrição</mat-label>
          <textarea [(ngModel)]="servico.descricao" matInput type="text" name="descricao" >
          </textarea>
     
  </mat-form-field>
  
      <div class="buttons">
          <button (click)="create()" class="mat-elevation-z8 " mat-flat-button color="primary">INCLUIR NOVO SERVIÇO</button>
          <button   class="mat-elevation-z8 " mat-flat-button color="warn">CANCELAR</button>
      </div>
  </form>