<form>
    <h1>INCLUIR NOVO SERVIÇO</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="servico.nome" matInput  type="text" name="nome" disabled>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Preço</mat-label>
        <input [(ngModel)]="preco" matInput type="number" name="preco">
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Descrição</mat-label>
          <textarea [(ngModel)]="descricao" matInput type="text" name="descricaoUsuario" placeholder="Essa descrição será mostrada ao cliente que deseja contratar seu serviço. Ex: Aceito somente pets de porte pequeno ou médio.">
          </textarea>
     
  </mat-form-field>
  
      <div class="buttons">
          <button (click)="create()" class="mat-elevation-z8 " mat-flat-button color="primary">INCLUIR NA MINHA CARTEIRA</button>
          <button (click)="cancel()"  class="mat-elevation-z8 " mat-flat-button color="warn">CANCELAR</button>
      </div>
  </form>