<div class="login-form">
    <form> 
      <!--
        NOME, USERNAME, CPF, CNPJ, TELEFONE, CIDADE, ESTADO, ENDERECO, BAIRRO, CEP, DTNASCIMENTO, SENHA  

      -->
          <div>
            <a routerLink="" routerLinkActive="active">
              <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            </a>
            <h2 align="center" style="margin-left: 10px;">Olá ###COLOCAR O NOME DO USUARIO###, essas são suas Informações Pessoais!</h2>
          </div>    
          <div style="margin-top: 80px;">
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Ex. Guilherme">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Sobrenome</mat-label>
              <input matInput placeholder="Ex. da Silva">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Ex. Guilherme">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. nome@dominio.com">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Celular</mat-label>
              <input matInput placeholder="Ex. (DDD) 9 99990000">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Confirmar senha</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </div>
        <button mat-raised-button class="btn" style="margin-left: 310px; margin-top: 25px;">Editar</button>
    </form>
</div>