<div class="login-form">
    <form> 
      <!--
        NOME, USERNAME, TELEFONE, CPF, CNPJ, DTNASCIMENTO,SENHA, CEP,
          CIDADE, ESTADO, ENDERECO, BAIRRO,   

      -->
          <div>
            <a routerLink="" routerLinkActive="active">
              <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            </a>
            <h2 align="center" style="margin-left: 10px;">Olá ###COLOCAR O NOME DO USUARIO###, essas são suas Informações Pessoais!</h2>
          </div>    
          <div style="margin-top: 80px;">
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Ex. Guilherme">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Sobrenome</mat-label>
              <input matInput placeholder="Ex. da Silva">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Ex. da Silva">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>CNPJ</mat-label>
              <input matInput placeholder="Ex. da Silva">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Data de Nascimento</mat-label>
              <input matInput placeholder="Ex. da Silva">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. nome@dominio.com">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Celular</mat-label>
              <input matInput placeholder="Ex. (DDD) 9 99990000">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Confirmar senha</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Ex. Guilherme">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>CEP</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Endereço</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form2">
              <mat-label>Bairro</mat-label>
              <input matInput placeholder="">
            </mat-form-field><br>
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Cidade</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form1">
              <mat-label>Estado</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <button mat-raised-button class="btn" style=" margin-top: 10px;">Atualizar</button>
          </div>
    </form>
</div>