<div class="container">
    <div class="content">
        <h1>Entre em sua conta</h1>
    <form>
        <mat-form-field appearance="legacy" class="form">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Ex. Guilherme">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="form">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Ex. Guilherme">
        </mat-form-field>
        <button mat-raised-button color="warn" class="btn">Entrar</button>
    </form>
</div>
</div>