<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="menu">
        <mat-nav-list>
            <a routerLink="/dashboard" mat-list-item>
                <i class="material-icons">home</i>
                <font color= "white">Home</font>  
            </a>
            <a routerLink="/meusservicos" mat-list-item>
                <i class="material-icons">work</i>
                <font color= "white">Meus serviços</font>  
            </a>
            <a routerLink="/meusdados" mat-list-item>
                <i class="material-icons">manage_accounts</i>
                <font color= "white">Meus dados</font>  
            </a>
            <a routerLink="/entrar" mat-list-item>
                <i class="material-icons">logout</i>
                <font color= "white">Sair</font>  
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       <router-outlet>

       </router-outlet>
       
    </mat-sidenav-content>
    
</mat-sidenav-container>
