<form class="home">
  <mat-form-field appearance="standard">
    <mat-label>Ex. 85010000</mat-label>
    <input matInput [(ngModel)]="cp.cep" placeholder="Placeholder" name="cep" (blur)="findByCep()">
    <mat-hint>CEP</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard">
      <mat-label></mat-label>
      <input [(ngModel)]="cp.logradouro" type="text" name="rua" matInput placeholder="Placeholder">
      <mat-hint>Rua</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label></mat-label>
      <input matInput [(ngModel)]="cp.bairro" type="text" name="bairro" placeholder="Placeholder">
      <mat-hint>Bairro</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label></mat-label>
      <input matInput [(ngModel)]="cp.localidade" type="text" name="lopcalidade" placeholder="Placeholder">
      <mat-hint>Cidade</mat-hint>
    </mat-form-field>
</form>