<div class="base top">
    <br>
    <span style="font-size: 30px; margin-bottom: 10px;">
        My PetSitter, Quem ama cuida!
    </span>
    <br>
    <span style="font-size: 17px; margin-bottom: 10px;">
        Ofertamos o melhor para quem merece
    </span>
    <br>
    <a href="" class="link">
        <div class="base middle-menu">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            <h3 style="margin-top: 10%;">Hospedagem</h3>
        </div>
    </a>
    <a href="" class="link">
        <div class="base middle-menu">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            <h3 style="margin-top: 10%;">Cãolégio</h3>
        </div>
    </a>
    <a href="" class="link">
        <div class="base middle-menu">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            <h3 style="margin-top: 10%;">Cuidadores</h3>
        </div>
    </a>
    <a href="" class="link">
        <div class="base middle-menu">
            <img src="/assets/images/passeio.jpeg" align="left" class="img-circle avatar" alt="Avatar">
            <h3 style="margin-top: 10%;">Passeios</h3>
        </div>
    </a>   
    <div class="login-form" style="margin-left: 120px;">
        <form>   
            <mat-form-field appearance="outline" class="form2">
                <mat-label>Busque pelo seu endereço</mat-label>
                <input matInput placeholder="Ex. Rua Blah Blah Blah">
            </mat-form-field>
            <!--
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            -->
            <button mat-raised-button class="btn" style="margin-left: 310px; margin-top: 20px;">Buscar PetSitter</button>
        </form>
    </div>
</div>
<hr>
<br>
<span style="font-size: 30px; margin-bottom: 10px; margin-left: 30%;">
    Conheça um pouco sobre nosso projeto.
</span>
<div class="base middle" style="font-size: 120%;">
    <div class="base middle-base" style="text-align: justify;"> 
        <span style="margin: 20px;">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar"><br><br><br>
              MyPetSitter é uma plataforma que visa conectar
            colaboradores que como nós amam seus pets. Seu 
            princípio é a disponibilização de uma plataforma 
            para pessoas que possuam experiências com animais
            possam ofertar serviços de diversos e distintos 
            tipos e assim possam realizar cuidados aos pets 
            que serão cadastrados no sistema pelos seus 
            respectivos donos. O principal objetivo é reunir 
            cuidadores de pets na qual terão disponibilidade 
            para cuidar dos animais em um determinado período, 
            assim se propondo a realizar essa tarefa para que 
            se possa garantir todo cuidado e segurança que o 
            animalzinho merece, e donos de pets que desejam 
            contratar esses serviços.<br>
              Olá, que bom que está conosco :),
            PetSitters são verdadeiros heróis, cada dia mais pets 
            necessitam de cuidados e gostariamos que você nos 
            ajudasse nessa tarefa. Caso deseje ser um PetSitter
            cadastre-se <a href="/criarconta" >aqui</a>!<br>
              Não é PetSitter? deseja que nós tomemos conta de seu 
            animalzinho? Que bom! Por onde começar? Com seu cadastrado, 
            cadastre-se <a href="/criarconta" >aqui</a> :)<br>
              Deseja saber mais sobre nosso projeto ou tem alguma 
            dúvida? <a href="/comofunciona" >Clique Aqui!</a><br><br><br>
        </span>
    </div>   
    <div class="base middle-base" style="text-align: justify;"> 
        <span id="hospedagem">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            Irá viajar ou Saír e não tem onde seu pet ficar? Ficaremos felizes em cuidar disso, deixe-o conosco!
        </span><br><br><br>
        <span id="caolegio">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            Deseja manter vinculo fixo com cuidados ao seu pet? que tal deixarmos tomar conta disso, 
            com o Cãolégio seu pet terá todo o cuidado enquanto você faz suas atividades!
        </span><br><br><br>
        <span id="cuidadores">
            <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
            Deseja que uma pessoa cuide de seu pet por uma quantidade de horas estbelecida por você? não é 
            problema, contrate o serviço de petsitting!  
        </span><br><br><br>
        <span id="passeios">
            <img src="/assets/images/passeio.jpeg" align="left" class="img-circle avatar" alt="Avatar">
            Seu pet ama caminhar, mas você não tem tempo para isso? nossos petsitters irão adorar levar seu pet para caminhar!
        </span><br>
        <br><br><br><br>
    </div>   
</div>
<hr>

<div class="base bottom" style=" text-align: left;">
    <img src="/assets/images/logoSemEscrita.png" class="img-circle avatar" alt="Avatar"><br>
    <a href="sobrenos" style="margin-left: 60px;">Sobre Nós</a><br>
    <a href="criarconta" style="margin-left: 60px;">Crie agora sua conta!</a><br>
    <a href="comofunciona" style="margin-left: 60px;">Precisa de Ajuda?</a>
</div>
<br><br><br>
