.home {
    text-align: center;
    width: 100%;
    margin: 2rem auto 0 auto;
}
.base {
    margin: 1.7rem auto 0 auto;
    border-width: 0.3px;
    border-style: 0.3px;
    border-color: 0.3px;
    border-radius: 10px;
}
.top {
    width: 95%;
    text-align: center;
    justify-content: center;
    background: #f7f7f7;
}
.middle {
    width: 95%;
    background: #f7f7f7;
}
.bottom {
    width: 95%;
    height: 10%;
    background: #f7f7f7;
}
.middle-base {
    text-align: center;
    width: 48%;
    display: inline-block;
    height: 90%;
    margin: 9px;
}
.middle-menu { 
    position: inline; 
    display: inline-block;
    width: 15%;
    height: 100%;
    margin-left: 10px;
    background: rgb(255, 255, 255);
    border-style: solid; 
}
.avatar {width: 60px; align-items: left;}

a:link {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}

.login-form {width: 80%; margin-top: 20px;}
.login-form h2 {font-size: 19px;margin-bottom: 15px;text-align: center;}
.login-form .avatar {width: 90px;margin-bottom: 20px; align-items: left;}
.login-form .form-control, .login-form .btn {min-height: 38px;}
.login-form .btn {
    font-size: 15px;
    border-radius: 2px;
    width: 15%; 
    color: white; 
    background-color: #1E1E1E;
    margin-right: 20px;
}
form2 {
    text-align: center;
    position: relative;
    z-index: 2;
    width: 100%;
}
.form2 {padding: 6px;width: 25%;}