<div class="login-form">
  <form> 
        <div>
          <img src="/assets/images/logoSemEscrita.png" align="left" class="img-circle avatar" alt="Avatar">
          <h2 align="left">Criar Sua Conta</h2>
        </div>    
        <div style="margin-top: 80px;">
          <mat-form-field appearance="outline" class="form2">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field>
          <mat-form-field appearance="outline" class="form2">
            <mat-label>Sobrenome</mat-label>
            <input matInput placeholder="Ex. da Silva">
          </mat-form-field><br>
          <mat-form-field appearance="outline" class="form1">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field><br>
          <mat-form-field appearance="outline" class="form2">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. nome@dominio.com">
          </mat-form-field>
          <mat-form-field appearance="outline" class="form2">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="Ex. (DDD) 9 99990000">
          </mat-form-field><br>
          <mat-form-field appearance="outline" class="form2">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          <mat-form-field appearance="outline" class="form2">
            <mat-label>Confirmar senha</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
        </div>
        <div>
          <a href="entrar" style="text-align: left; margin-left: 6px;">Possuí conta? faça login</a>
          <button mat-raised-button color="warn" style="margin-left: 169px;">Criar Conta</button>
        </div>
  </form>
  <p style="text-align: right;">
    <a href="ajuda">Ajuda</a>
    <a href="privacidade" style="margin-left: 10px;">Privacidade</a>
    <a href="termos" style="margin-left: 10px;">Termos</a>
  </p>
</div><br><br><br><br><br><br>