<div class="container">
    <div class="content">
        <h1>Criar nova conta</h1>
    <form>
        <mat-form-field appearance="legacy" class="form">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="form">
            <mat-label>Sobrenome</mat-label>
            <input matInput placeholder="Ex. da Silva">
          </mat-form-field><br>
          <mat-form-field appearance="legacy" class="form">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field><br>
          <mat-form-field appearance="legacy" class="form2">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="form2">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field><br>
          <mat-form-field appearance="legacy" class="form">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="form">
            <mat-label>Confirmar senha</mat-label>
            <input matInput placeholder="Ex. Guilherme">
          </mat-form-field>
          
    </form>
    <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        </button>
      </div>
</div>
</div>

